@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));
@layer components {
  .btn {
    @apply bg-main hover:bg-hMain transition-colors duration-300 text-white rounded-full px-14 py-2 cursor-pointer;
  }
}

@utility container {
  margin-inline: auto;
}

@utility center {
  @apply flex justify-center items-center;
}

@theme {
  --color-main: #8b5e35;
  --color-hMain: #573311;
  --color-textMain: #090f41;
  --color-section: #f6f6f6;
}
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Playwrite HU", cursive;
}

header {
  background-image: url("../images/wraper-min.png");
  background-position: center;
  background-size: cover;
  min-height: 100dvh;
}
